{% if content %}
<footer {{attributes.addClass('spaker_mod_footer')}}>
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-lg-6 text-lg-left text-center">
				{% if content.copyright %}
				<div {{ region_attributes.copyright.addClass('copyright')}}>
					{{ content.copyright }}
				</div>
				{% endif %}
			</div>
			<div class="col-lg-6">
				{% if content.footer_links %}	
				<nav  {{ region_attributes.footer_links.addClass(['footer-links','text-lg-right','text-center','pt-2','pt-lg-0'])}} class="">
					{{ content.footer_links}}
				</nav>
				{% endif %}
			</div>
		</div>
	</div>
</footer>
{% endif %}

