{{ attach_library('spaker_mod/agence_constant_services') }}

<<<<<<< HEAD
=======
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' crossorigin='anonymous'>

>>>>>>> e6a5094bb1893c445cf45ab02edd681c44aca537
<section {{ attributes.addClass('ac-nos-services') }}>

    <div class="container-flex" {{ region_attributes.addClass('ac-container') }}>

        <div {{ region_attributes.addClass('ac-column-image') }}>

            {{ content.image }}

        </div>

        <div {{ region_attributes.addClass('ac-nos-services--content') }}>
        
            {{ content.services }}

        </div>

    </div>

</section>