{% if content %}
	<section {{attributes.addClass('ac-nos-services')}}>

		<div class="container-fluid p-0">
			<div class="row no-gutters">
				<div class="col-0 col-md-4 d-none d-lg-block">
					{% if content.image %}
						<div {{ region_attributes.image.addClass('ac-column-image')}} >
							{{content.image|layout_value}}
						</div>
					{% endif %}

				</div>
				<div class="col-lg-8 ml-auto">
					<div class="ac-nos-services--content">
						<div class="ac-content">
							<div class="ac-left-header">
								{% if content.sub_title %}
									<h4 {{ region_attributes.sub_title.addClass('ac-first-title')}} >
										{{content.sub_title}}
									</h4>
								{% endif %}
								{% if content.title %}
									<h2 {{ region_attributes.title.addClass(['ac-head-title','h2'])}} >
										{{content.title}}
									</h2>
								{% endif %}
								{% if content.desc %}
									<div {{ region_attributes.desc.addClass('ac-text-descriptor') }} >
										{{content.desc}}
									</div>
								{% endif %}

							</div>
							{% if content.contenu %}
								{% for i in content.contenu|array_elements(region_attributes.contenu.addClass('')) %}
									{{ i }}
								{% endfor %}
								{#{content.contenu}#}
							{% endif %}
						</div>
					</div>
				</div>
			</div>

		</div>

	</section>

{% endif %}