{{ attach_library('spaker_mod/agence_constant_services') }}

<section {{ region_attributes.subtitle.addClass('ac-nos-services') }}>

    <div {{ region_attributes.subtitle.addClass('container-flex ac-container') }}>

        <div {{ region_attributes.subtitle.addClass('ac-column-image') }}>

            {{ content.image }}

        </div>

        <div {{ region_attributes.subtitle.addClass('ac-nos-services--content') }}>
        
            {{ content.services }}

        </div>

    </div>
    
</section>