<!-- list section -->

{{ attach_library('spaker_mod/list_section_rcweb') }}

<section class="list-section container">

  <div class="list-block">

    <h2 class="list-block__title">

      {{ content.title_one }}

    </h2>

    <div class="list-block__price">

      <span></span>
      <p></p>

    </div>

  </div>

  <div class="list-block">

    <h2 class="list-block__title">

        {{ content.title_two }}

    </h2>

    <div class="list-block__price">

      <span></span>
      <p></p>

    </div>
  </div>
  <div class="list-block">

    <h2 class="list-block__title">

      {{ content.title_three }}

    </h2>

    <div class="list-block__price">

      <span></span>
      <p></p>

    </div>

  </div>

  <div class="list-block">

    <h2 class="list-block__title">

      {{ content.title_four }}

    </h2>

    <div class="list-block__price">

      <span></span>

      <p></p>

    </div>

  </div>

  <div class="list-block">

    <h2 class="list-block__title">

      {{ content.title_five }}

    </h2>
    
    <div class="list-block__price">
    
      <span></span>
      <p></p>

    </div>

  </div>

</section>