<!-- ======= price-block ======= -->

{{ attach_library('spaker_mod/price_section_rcweb') }}

<div class="price-block">

  <div class="item-price">

    <div class="item-price__head">

      <div class="name-wrap">

        <h2> {{ content.title }} </h2>

      </div>

      <div class="item-price__wrap">

        <p></p><span class="per-mn"></span>

      </div>

    </div>

    <div class="item-price__body">

      <ul>

        <li class=""> {{ content.title_one }} </li>
        <li class=""> {{ content.title_two }} </li>
        <li class=""> {{ content.title_three }} </li>
        <li class=""> {{ content.title_four }} </li>
        <li class=""> {{ content.title_five }} </li>
        <li class=""> {{ content.title_six }} </li>
        <li class=""> {{ content.title_seven }} </li>
        <li class=""> {{ content.title_height }} </li>
        <li class=""> {{ content.title_nine }} </li>
        <li class=""> {{ content.title_ten }} </li>
        <li class=""> {{ content.title_eleven }} </li>
        <li class=""> {{ content.title_twelwe }} </li>
        <li class=""> {{ content.title_thirtheen }} </li>
        <li class=""> {{ content.title_fourthteen }} </li>
        <li><a href="https://rc-web.fr/contact/" target="_self" class="btn btn-blue"> {{ content.btn }} </a></li>

      </ul>

    </div>

  </div>

</div>