{% if content %}
	<section {{ attributes.addClass(['vesperr-pricing']) }}>
		<div class="container">
			<div class="section-vs-title ">
				{% if content.title %}
					<h2 {{ region_attributes.title.addClass([''])}}>
						{{ content.title|layout_value }}
					</h2>
				{% endif %}
				{% if content.desc %}
					<div {{region_attributes.desc.addClass('desc')}}>
						{{ content.desc }}
					</div>
				{% endif %}
			</div>
			<div class="row">
				{% if content.contenu %}
					{% for item in content.contenu|array_elements(region_attributes.contenu.addClass('')) %}
						{{ item }}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}