{% if content %}
	<section {{attributes.addClass('vesperr_hero')}}>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
					{% if content.title %}
						<h2 data-aos="fade-up" {{region_attributes.title.addClass('title','aos-init','aos-animate')}}>
							{{content.title}}
						</h2>
					{% endif %}
					{% if content.subtitle %}
						<h3 data-aos="fade-up" data-aos-delay="400" {{region_attributes.subtitle.addClass('subtitle','aos-animate','aos-init')}}>
							{{content.subtitle}}
						</h3>
					{% endif %}
					{% if content.description %}
						<div data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">
							{{content.description}}
						</div>
					{% endif %}
					{% if content.link %}
						<div data-aos="fade-up" data-aos-delay="800" class="aos-init aos-animate">
							{{content.link}}
						</div>
					{% endif %}
				</div>
				{% if content.image %}
					<div class="col-lg-6 order-1 order-lg-2 hero-img aos-init aos-animate" data-aos="fade-left" data-aos-delay="200">
						{{ content.image }}
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}