{%
  if content
%}
	<section {{ attributes.addClass(['spaker_mod_team','team','section-bg']) }}>
		<div class="container">

			<div class="section-vs-title  aos-init aos-animate" data-aos="fade-up">
				{% if content.title %}
				<h2 {{ region_attributes.title.addClass('')}}>
					{{ content.title }}
				</h2>
				{% endif %}
				{% if content.text %}
				<div {{ region_attributes.text.addClass('')}}>
					{{ content.text }}
				</div>
				{% endif %}
			</div>
			<div class="row d-flex align-items-stretch">
				{% if content.team_teaser_container %}
					{% for item in content.team_teaser_container|array_elements(region_attributes.team_teaser_container.addClass('')) %}
						{{ item }}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</section>
{%
  endif
%}