{{ attach_library('spaker_mod/vesperr_portfolio') }}
{%
  if content
%}
<section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="fade-up">
          <h2> {{ content.title }} </h2>
          <p> {{ content.text }} </p>
        </div>

        <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active"> {{ content.list_one }} </li>
              <li data-filter=".filter-app"> {{ content.list_two }} </li>
              <li data-filter=".filter-card"> {{ content.list_three }} </li>
              <li data-filter=".filter-web"> {{ content.list_four }} </li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="400" style="position: relative; height: 891px;">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 0px; top: 0px;">
            <div class="portfolio-wrap">
              <img src="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4> {{ content.title_one }} </h4>
                <p> {{ content.text_one }} </p>
                <div class="portfolio-links">
                  <a href="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 380px; top: 0px;">
            <div class="portfolio-wrap">
              <img src="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4> {{ content.title_two }} </h4>
                <p> {{ content.text_two }} </p>
                <div class="portfolio-links">
                  <a href="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 760px; top: 0px;">
            <div class="portfolio-wrap">
              <img src="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4> {{ content.title_three }} </h4>
                <p> {{ content.text_three }} </p>
                <div class="portfolio-links">
                  <a href="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="position: absolute; left: 0px; top: 297px;">
            <div class="portfolio-wrap">
              <img src="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-4.jpgg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4> {{ content.title_four }} </h4>
                <p>{{ content.text_four }}</p>
                <div class="portfolio-links">
                  <a href="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 380px; top: 297px;">
            <div class="portfolio-wrap">
              <img src="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4> {{ content.title_five }} </h4>
                <p> {{ content.text_five }} </p>
                <div class="portfolio-links">
                  <a href="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 760px; top: 297px;">
            <div class="portfolio-wrap">
              <img src="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4> {{ content.title_six }} </h4>
                <p> {{ content.text_six }} </p>
                <div class="portfolio-links">
                  <a href="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="position: absolute; left: 0px; top: 594px;">
            <div class="portfolio-wrap">
              <img src="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4> {{ content.title_seven }} </h4>
                <p> {{ content.text_seven }} </p>
                <div class="portfolio-links">
                  <a href="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="position: absolute; left: 380px; top: 594px;">
            <div class="portfolio-wrap">
              <img src="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4> {{ content.title_height }} </h4>
                <p> {{ content.text_height }} </p>
                <div class="portfolio-links">
                  <a href="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 760px; top: 594px;">
            <div class="portfolio-wrap">
              <img src="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4> {{ content.title_nine }} </h4>
                <p> {{ content.title_nine }} </p>
                <div class="portfolio-links">
                  <a href="https://bootstrapmade.com/demo/templates/Vesperr/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
{% 
  endif 
%}