{% if content %}
	<!-- ======= Pricing Section ======= -->
	<section id="pricing" class="pricing">
		<div class="container">
			<div class="section-title">
				{% if content.title %}
					<h2>
						{{ content.title }}</h2>
				{% endif %}
				{% if content.text %}
					<p>
						{{ content.text }}
					</p>
				{% endif %}
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="box aos-init" data-aos="zoom-in-right" data-aos-delay="200">
						{% if content.title_one %}
							<h3>
								{{ content.title_one }}
							</h3>
						{% endif %}
						{% if content.subtitle_one %}
							<h4>
								{{ content.subtitle_one }}
							</h4>
						{% endif %}
						{% if content.list_one %}
							{{content.list_one}}
						{% endif %}}

						<div class="btn-wrap">
							{% if content.link_one %}
								{{ content.link_one }}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-4 mt-md-0">
					<div class="box recommended aos-init" data-aos="zoom-in" data-aos-delay="100">
						{% if content.title_two  %}
							<h3>
								{{ content.title_two }}</h3>
						{% endif %}
						{% if content.subtitle_two %}
							<h4>
								{{ content.subtitle_two}}
							</h4>
						{% endif %}
						{% if content.list_two %}
							{{content.list_two}}
						{% endif %}}

						<div class="btn-wrap">
							{% if content.link_two %}
								{{ content.link_two }}
							{% endif %}
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
					<div class="box aos-init" data-aos="zoom-in-left" data-aos-delay="200">
						<h3>
							{{ content.title_three }}
						</h3>
						<h4>
							{{ content.subtitle_three }}
						</h4>
						{% if content.list_three %}
							{{content.list_three}}
						{% endif %}}

						<div class="btn-wrap">
							{% if content.link_three %}
								{{ content.link_three }}
							{% endif %}
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- End Pricing Section -->
	{% endif %}