{{ attach_library('spaker_mod/vesperr_price') }}
{%
  if content
%}
<!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2> {{ content.title }}</h2>
          <p> {{ content.text }} </p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box aos-init" data-aos="zoom-in-right" data-aos-delay="200">
              <h3> {{ content.title_one }} </h3>
              <h4> {{ content.subtitle_one }} </h4>
              <ul>
                <li> {{ content.list_one }} </li>
                <li> {{ content.list_two }} </li>
                <li> {{ content.list_three }} </li>
                <li class="na"> {{ content.list_four }} </li>
                <li class="na"> {{ content.list_five }} </li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy"> {{ content.link_one }} </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended aos-init" data-aos="zoom-in" data-aos-delay="100">
              <h3> {{ content.title_two }} </h3>
              <h4> {{ content.subtitle_two }} </h4>
              <ul>
                <li> {{ content.list_six }} </li>
                <li> {{ content.list_seven }} </li>
                <li> {{ content.list_height }} </li>
                <li> {{ content.list_nine }} </li>
                <li class="na"> {{ content.list_ten }} </li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy"> {{ content.link_two }} </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box aos-init" data-aos="zoom-in-left" data-aos-delay="200">
              <h3> {{ content.title_three }} </h3>
              <h4> {{ content.subtitle_three }} </h4>
              <ul>
                <li> {{ content.list_eleven }} </li>
                <li> {{ content.list_twelve }} </li>
                <li> {{ content.list_thirthteen }} </li>
                <li> {{ content.list_fourthteen }} </li>
                <li> {{ content.list_fifteen }} </li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy"> {{ content.link_three }} </a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->
{%
  endif
%}