{%  if content %}
<section {{ attributes.addClass('spaker_mod_features') }}>
	<div class="container">
		<div class="section-vs-title  aos-init" data-aos="fade-up">
			{% if content.title %}
			<h2 {{ region_attributes.title.addClass('')}}>
				{{ content.title }}
			</h2>
			{% endif %}
			{% if content.text %}
			<div {{ region_attributes.text.addClass('') }}>
				{{ content.text }}
			</div>
			{% endif %}
		</div>
		<div class="row aos-init" data-aos="fade-up" data-aos-delay="300">
			{% if content.teaser_container %}
				{% for item in content.teaser_container|array_elements(region_attributes.teaser_container.addClass('')) %}
					{{ item }}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>
{% endif %}