{% if content %}
<header {{attributes.addClass(['spaker_mod_header','d-flex','align-items-center'])}}>
	<div class="container d-flex align-items-center justify-content-between">

		<div class="logo">
			{% if content.logo %}
			<div {{ region_attributes.logo.addClass('')}} >
				{{ content.logo }}	
			</div>
			{% endif %}
		</div>
		
		<nav id="navbar" class="navbar">
			{% if content.menu_nav %}
				{{ content.menu_nav }}
			{% endif %}
			{% if content.button %}
				{% for item in content.button|array_elements(region_attributes.button.addClass(['getstarted','scrollto'])) %}
					{{ item }}
				{% endfor %}
			{% endif %}
		</nav>
	</div>
</header>
{% endif %}