{% if content %}
  <footer {{ attributes.addClass('vesperr_footer')}} id="footer">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-lg-6 text-lg-left text-center">
            {% if content.footer_copy %}
            <div {{ region_attributes.footer_copy.addClass('copyright')}}>
              {{ content.footer_copy }}
            </div>
            {% endif %}
            {% if content.author_link %}
            <div {{ region_attributes.author_link.addClass('credits')}}>
              {{ content.author_link }}
            </div>
            {% endif %}
          </div>
          <div class="col-lg-6">
            {% if content.footer_links_container %}
            <nav {{ region_attributes.footer_links_container.addClass(['footer-links','text-lg-right','text-center','pt-2 ','pt-lg-0'])}} >
              {{ content.footer_links_container }}
            </nav>
            {% endif %}
          </div>
        </div>
      </div>
    </footer>
{% endif %}